/* .chat_body {
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: hidden;
} */

.chat_message {
    position: relative;
    font-size: 15px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 30px;
}

.chat_receiver {
    margin-left: auto;
    background-color: #dcf8c6;
}


.chat_timeStamp {
    margin-left: 10px;
    font-size: xx-small;
}

.chat_author {
    position: absolute;
    top: -15px;
    font-weight: 800;
    font-size: xx-small;
}